p{
	border: 2x solid black;
	background-color: white;
	border: 1px solid black;
}
#principal{
	display:flex;
	flex-direction:column;
}
#cabeceraPrincipal{
	background-color: red;
	display:flex;
	flex-direction:row;
}
#cabeceraPrincipal p, #navPrincipal p, #pieDatos p{
	width:100px;
	margin: 10px;
	height: 30px;
}
#navPrincipal{
	background-color:aqua;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#zonaContenidos{
	display:flex;
	flex-direction:row;

	
}
#lateralIzq{
	background-color: orange;
	flex-grow:2;
	display: flex;
	flex-direction:column;
	justify-content: center;  /*CENTRA EN VERTICAL*/
	align-items:center; /*CENTRA EN HORIZONTAL*/
}
#lateralIzq p{
	width:50px;
	height:60px;
}
#zonaDatos{
	flex-grow:8;
	display:flex;
	flex-direction:column;	
}
#zonaCentro{
	display:flex;
	flex-direction:row;

}
#pieDatos{
	background-color: purple;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}
#zona1{
	background-color: pink;
	flex-grow:1;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
#zona1 p{
	width:60px;
	height: 80px;
	margin: 10px;
}

#zona2{
	flex-grow:1;
	background-color: green;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
#zona2 p{
	width:60px;
	height:200px;
	margin: 10px;
}