h1{
	
	text-align:center;
	text-shadow: -10px -8px 5px #ff9800;
}
footer{
	text-align: center;
    background-color: navy;
    color: white;
}
li{
	  list-style-type: none; 
}
nav li{
    display: inline-block;
}
a{
    text-decoration: none; 
}
nav a{
        color: navy;
        background-color: white;
        border: 1px solid;
        border-radius: 5px; 
        padding: 10px;
}		
#busqueda, placeholder :hover{
	color: #ff9800;
/*ESte no hemos sidfo capsaz*/	
}
nav a:hover{
	color:white;
	background-color:navy;	
	border: 2px solid #ff9800;	
	border-style: dotted;
}
#cat h3{
	color:navy;
	text-transform:uppercase;
}
#cat li:hover{
	
}
#cat li{
	background-repeat: -10px -8px 5px navy;
	border: 1px solid;
    border-radius: 5px; 
    padding: 10px;
	width: 100px;
	display:flex;
	flex-direction:column;
	align-items: center; 
}
#cat li{
	background-color:#ff9800;
	color:navy;
	padding: 10px;
	margin-left:-40px; /*Margen izquierdo*/
	display: block;
	margin-bottom:5px; /*Margen inferior*/
}
article{
	width: 200px;
	border: 2px solid navy;
	 border-style:top; /*Sombra*/
}
aside li{
        border: 1px solid;
        border-radius: 10px; 
        padding: 10px; 
}
aside ul{
	padding: 10px;
	margin-left:60px;
	display: block;
	margin-bottom:5px; 
	animation: proyecto 4s linear 0s infinite normal
}
@keyframes proyecto{
	0% {color:red;color:silver;}
	50% {color:silver;color:red;}
	100% {color:red;color:silver;}
}
aside li{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
#promo{
	grid-template-rows:respeat(5,auto);
	justify-content:end;
}



header, #logo{
	place-items: center star;
}

body{
	display:grid;
	grid-template-columns:20% auto 20%;
	grid-template-rows:auto auto auto;
	grid-template-areas: "cab cab cab" "izq centro derecha" "pie pie pie" /*definimos la regilla*/ 
}
header{
	grid-area:cab;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	
	
	align-items:center;
}
#cat {
	grid-area: izq;
}
#art {
	grid-area: centro;
	flex-direction:column;
	display:flex;
	flex-direction:row;
	flex-grow: 1;
}
#promo {
	grid-area: derecha;
}
footer{
	grid-area:pie;
}