/* PROPIEDADES DE LISTAS */

ul{
	/* Cambiamos el simbolo a numeros*/
	list-style-type: decimal;
	/* Ponemos como simbolo una imagen */
	list-style-image: url('img/icono.png');
	
	list-style-position: inside;
	
}
li{
	/* VISUALIZAR LOS IMTEMS EN HORIZONTAL */
	display: inline;
}
p{
	/* VISUALIZAR P COMO VIÑETAS*/
	display: list-item;
}