/* DISPLAY*/
h1, p{
	width: 30%;
	height: 100px;
	border: 1px solid red;
	overflow: auto;  /*Se muestra scroll cuando es necesario*/
	display: inline; /*Convertimos en elemntos de linea*/
}
p.noticias2{
	visibility: hidden;  /*Oculta el parrafo pero reserva su espacio*/
}